<div class = "text-center">
  <h1>About</h1>

  <p>Hair Shampoo Review</br>
  主に、市販で販売されているシャンプーに</br>
  ついてのレビューサイトです。</br>
  新しいシャンプーを使ってみたけど迷っている、新作のシャンプーは？</br>
  色々迷っている方にとって参考レビューサイトです。
  </p>

  <%= image_tage class="col-md-3 shadow p-3 mb-5 bg-white" src="/assets/shampooabout.jpg" alt="">

</div>
