<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="text-center offset-3 mt-3">
        <div style="position: relative; display: flex; justify-content: center; align-items: center;">
          <%= image_tage src="/assets/shampootop.jpg" alt="shampooの画像" style="width: 800px; height: 400px;"%>
          <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <p style="white-space: nowrap;">

              <br>
              <br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

