<div class="container">
  <div><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-md-9">
      <div class="text-center offset-3 mt-3">
        <div style="position: relative; display: flex; justify-content: center; align-items: center;">
          <%= image_tag "shampootop.jpg", alt: "shampooの画像", style: "width: 800px; height: 400px;" %>
          <div style="position: absolute; top: 0; left: 0; right: 0; text-align: center; margin-bottom: 20px;">
            <p style="color: fuchsia; font-size: 15px;">
              Hair Shampoo<br>
              気になったシャンプーのレビューが見つかるかも...<br>
              使ってみたシャンプーはぜひレビューを<br>
            </p>
          </div>
          <div style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin-bottom: 20px;">
            <p style="color: white; font-size: 17px; text-align: center;">
            ~誰かの明日の素敵な日につながりますように~<br>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

